.white{
    background-color:black;
    margin-left: 100px;
    margin-right: 100px;
}

.Class{
    background-color: antiquewhite;
    margin-top: 0;
    padding-bottom: 20%;
}

.titulo{
    background-color: gray;
    padding-bottom: 2%;

}
h1{
    margin: 0%;
}